/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6366F1;
  --ifm-color-primary-dark: #4F46E5;
  --ifm-color-primary-darker: #4338CA;
  --ifm-color-primary-darkest: #312E81;
  --ifm-color-primary-light: #818CF8;
  --ifm-color-primary-lighter: #C7D2FE;
  --ifm-color-primary-lightest: #E0E7FF;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.alert--warning {
  --ifm-alert-background-color: var(--ifm-color-warning-lightest);
  --ifm-alert-border-color: var(--ifm-color-warning-lightest);
  --ifm-alert-color: var(--ifm-color-gray-900);
  --ra-admonition-icon-color: var(--ifm-color-gray-900);
}

.code-button {
  font-size: 24px;
  line-height: 1em;
  padding: 0px;
  height: 28px;
  margin-left: 4px;
}

.site-select {
  margin-left: 4px;
  max-width: 9em;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}

.playground-run-code {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.playground-run-code button {
  display: flex;
  align-items: center;
  gap: 4px;

  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  touch-action: manipulation;
}
